* { 
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}
body { 
	background-image: url('../images/vegetables.jpg');
	font-family: 'Helvetica', sans-serif;
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: fixed;
}
.list { 
	margin-top: 80px;
	margin: 0 auto;
	width: 700px;
	height: 600px;
}
.title { 
	height: 4rem;
	margin-top: 80px;
	text-align: left;
	color: white;
	font-size: 2rem;
	font-weight: 900;
}
.box { 
	background-color: gold;
	margin: 0 auto;
	width: 700px;
	height: 600px;
	border-radius: 7px;
	border: 3px solid white;
}
.textbox { 
	text-align: center;
	padding-top: 12px;
}
.items li { 
	font-size: 1.5rem;
}
.items .new { 
	font-weight: bold;
	color: white;
}
.items .strike { 
	font-style: italic;
	color: gray;
	text-decoration: line-through;
}